---
import { getPage, getSlice } from '@/modules/prismic.js';
import * as prismicH from '@prismicio/helpers';
import fallback from '@/modules/fallback-content.js';

//components
import BaseLayout from '@/layouts/BaseLayout.astro';
import ContentBlock from '@/components/ContentBlock.vue';


const data = await getPage('quero-ajudar')  || fallback.quero_ajudar;

---

<BaseLayout title="Quero Ajudar">

	<ContentBlock class="bg-white min-h-screen">
		<div class="flex items-start justify-between gap-22 py-28 lg:gap-6 lg:flex-col lg:py-4 lg:px-1">

			<div class="w-1/2 h-full lg:w-full">
				<img src={data.form_img.url} alt="" class="h-[677px] max-w-[571px] object-cover object-left-top w-full rounded-xl lg:mx-auto lg:h-auto lg:aspect-video" />
			</div>

			<div class="flex-shrink-0 w-1/2 lg:w-full">
				<div class="mb-20 lg:mb-10">
					<h1 class="beta">
						{data.form_title}
					</h1>
					<div class="editorial text-black" set:html={prismicH.asHTML(data.form_description)}></div>
				</div>

				<form class="flex flex-col gap-6 text-black-600 text-base" >

					<fieldset class="border-black-600 border-2 px-4 rounded-xl">
						<legend class="font-bold px-1">Nome</legend>
						<input value="" class="leading-loose pb-2 px-1 w-full opacity-100 text-xs focus-visible:outline-none" type="text" name="name" placeholder="Digite seu nome ou como prefere ser chamado" />
					</fieldset>

					<div class="flex gap-4 xs:flex-col">
						<fieldset class="border-black-600 border-2 px-4 rounded-xl w-full">
							<legend class="font-bold px-1">Email</legend>
							<input value="" class="leading-loose pb-2 px-1 w-full opacity-100 text-xs focus-visible:outline-none" type="text" name="email" placeholder="Deixe aqui seu melhor email" />
						</fieldset>
						<fieldset class="border-black-600 border-2 px-4 rounded-xl w-full">
							<legend class="font-bold px-1">Telefone</legend>
							<input value="" class="leading-loose pb-2 px-1 w-full opacity-100 text-xs focus-visible:outline-none" type="text" name="telefone" placeholder="+99 (99) 99999-9999" />
						</fieldset>
					</div>

					<div class="grid grid-cols-2 gap-2 md:grid-cols-1">
						<label class="checkbox block font-semibold relative pl-7 mb-2.5 cursor-pointer text-xs">
							<input checked="checked" class="absolute opacity-0 w-0 h-0" type="checkbox" name="como-ajudar" value="Se inscrevendo no nosso programa de mentoria">
							<span class="absolute top-[3px] left-0 w-5 h-5 checkmark"></span>
							Se inscrevendo no nosso programa de mentoria.
						</label>
						<label class="checkbox block font-semibold relative pl-7 mb-2.5 cursor-pointer text-xs">
							<input checked="checked" class="absolute opacity-0 w-0 h-0" type="checkbox" name="como-ajudar" value="Viabilizando bolsas ou descontos em cursos de UX Design">
							<span class="absolute top-[3px] left-0 w-5 h-5 checkmark"></span>
							Viabilizando bolsas ou descontos em cursos de UX Design
						</label>
						<label class="checkbox block font-semibold relative pl-7 mb-2.5 cursor-pointer text-xs">
							<input  class="absolute opacity-0 w-0 h-0" type="checkbox" name="como-ajudar" value="Doando ingressos para eventos da área">
							<span class="absolute top-[3px] left-0 w-5 h-5 checkmark"></span>
							Doando ingressos para eventos da área.
						</label>
						<label class="checkbox block font-semibold relative pl-7 mb-2.5 cursor-pointer text-xs">
							<input  class="absolute opacity-0 w-0 h-0" type="checkbox" name="como-ajudar" value="Ministrando um curso ou palestra">
							<span class="absolute top-[3px] left-0 w-5 h-5 checkmark"></span>
							Ministrando um curso ou palestra.
						</label>
						<label class="checkbox block font-semibold relative pl-7 mb-2.5 cursor-pointer text-xs">
							<input  class="absolute opacity-0 w-0 h-0" type="checkbox" name="como-ajudar" value="Outra forma">
							<span class="absolute top-[3px] left-0 w-5 h-5 checkmark"></span>
							Outra forma.
						</label>
					</div>

					<fieldset class="border-black-600 border-2 px-4 rounded-xl">
						<legend class="font-bold px-1">Mensagem</legend>
						<textarea v-model="formData['message']" class="leading-loose pb-2 px-1 w-full opacity-100 text-xs focus-visible:outline-none" rows="5" name="mensagem" placeholder="Informe como você pode ajudar"></textarea>
					</fieldset>
					<button class="btn secondary">Ajudar</button>
				</form>

			</div>

		</div>
	</ContentBlock>

</BaseLayout>


<style>

    .checkmark:after {
        content: url('/src/assets/img/icon-unchecked.png');
        position: absolute;
        display: block;
    }

    .checkbox input:checked ~ .checkmark:after {
        content: url('/src/assets/img/icon-checked.png');
    }

</style>