---
import { getPage, getSlice } from '@/modules/prismic.js';

//components
import BaseLayout from '@/layouts/BaseLayout.astro';
import Hero from '@/components/Hero.astro';

//data
const demi = {
	hero: {
		title: "Serviços",
        subtitle: 'Nossa comunidade possui profissionais cobiçados de empresas como <span class="font-bold">Nubank, AMBEV Tech, Itaú, Grupo Fleury e iFood</span>. Além da diversidade em gêneros, orientação sexual e background, encontramos também a diversidade geográfica e de tempo de carreira.',
		image: '/img/hero-servicos.png'
	}
}


const data = await getPage('servicos');
---

<BaseLayout title="Sobre">

	<Hero data={getSlice('hero',data.body)}></Hero>

</BaseLayout>
