---
//components
import BaseLayout from '@/layouts/BaseLayout.astro';

//images
import meninaComputador from '@img/menina-no-computador.png';


//data
const data = {
	equipe: {
		principais: {
			
		}
	}
}

---

<BaseLayout bodyClasses="bg-black-600" title="Sobre">

	<h1 class="alpha mb-11 text-white text-center">
		Quem somos
	</h1>

	<div class="bg-black-800 p-16 w-full"></div>

</BaseLayout>
