---
import { getPage, getSlice } from '@/modules/prismic.js';

//components
import BaseLayout from '@/layouts/BaseLayout.astro';
import QuemSomos from '@/components/QuemSomos.vue';
import NossaEquipe from '@/components/NossaEquipe.vue';

const data = await getPage('sobre');
---

<BaseLayout title="Sobre">

	<main class="mt-20 md:mt-10">

		<QuemSomos data={getSlice('quem_somos',data.body)}></QuemSomos>

		<NossaEquipe client:load data={getSlice('nossa_equipe',data.body)}></NossaEquipe>

	</main>

</BaseLayout>
