---
import ContentBlock from '@/components/ContentBlock.vue';
import * as prismicH from '@prismicio/helpers';

const { data } = Astro.props;

const hasLogoArea = data.items.length > 1;

---

<section class:list={['bg-top bg-cover bg-no-repeat', { 'pb-10': hasLogoArea } ]} style={'background-image: url(' + data.primary.bg_img.url + ')'} >

    <ContentBlock class="px-26 py-32 lg:py-20 lg:px-6">
        <div class="max-w-[566px]">
            <h1 class="font-bold text-10xl mb-4 md:text-7xl">
                { data.primary.title }
            </h1>
            <div class="font-light leading-tight mb-10" set:html={prismicH.asHTML(data.primary.description)}></div>

            {
                data.items.length && 

                <div class="flex items-center justify-start gap-7.5 md:flex-col md:items-start">
                    {
                        data.items.map(item => (
                            <a 
                                href={item.button_link.slug} 
                                target={item.button_link.target} 
                                class:list={['btn', item.button_style ]}
                            >
                                { item.button_caption }
                            </a>
                        ))
                    }    
                </div>
            }
        </div>
    </ContentBlock>

</section>
