---
import ContentBlock from '@/components/ContentBlock.vue';
import * as prismicH from '@prismicio/helpers';

const { data } = Astro.props;

const hasLogoArea = data.items.length > 1;
---

<section class:list={['bg-top bg-cover bg-no-repeat', { 'pb-10': hasLogoArea } ]} style={'background-image: url(' + data.primary.background_image.url + ')'} >

    <ContentBlock class="px-26 py-32 md:pb-12 md:pt-30 md:px-0">
        <div class="max-w-[566px] md:text-center md:mx-auto">
            <h1 class="font-bold text-10xl md:text-7xl mb-2.5">
                { data.primary.title }
            </h1>
            <div class="font-light leading-tight mb-5" set:html={prismicH.asHTML(data.primary.description)}></div>
            {data.primary.button_label &&
                <a 
                href={data.primary.button_link.slug} 
                class:list={['btn', data.primary.button_style ]}>
                    { data.primary.button_label }
                </a>
            }
        </div>
    </ContentBlock>

    {
        hasLogoArea &&

        <div class="bg-white/10 bg-blur bg-blend-multiply py-3 px-26 w-full md:text-center md:mx-auto md:px-6" style="backdrop-filter: blur(10px)">
            <ul class="flex flex-wrap gap-5 max-w-[1280px] mx-auto md:justify-center md:gap-3">
                {data.items && data.items.map((item) => (
                    <li >
                        <a href={item.link.url}>
                            <img src={item.logo.url} alt="" class="md:max-w-[70px]" />
                        </a>
                    </li>
                ))}
            </ul>
        </div>

    }
</section>
