---
//images
import logo from '@img/logo-pretux.svg';

const currentPath = new URL(Astro.request.url).pathname.slice(1);
console.log(currentPath)

---

<nav class="bg-black-600 py-4 font-heading shadow-xl">
    <section class="flex justify-between items-center max-w-[1256px] mx-auto px-3">
        <img src={logo} alt="" class=""/>
        <ul class="nav flex items-center justify-center gap-12 font-semibold text-2xl">
            <li><a href="https://google.com" class="nav__item"> Login </a></li>
            <li><a href="/" class={currentPath === "" && "active" + " nav__item"}> Home </a></li>
            <li><a href="/sobre" class={currentPath === "sobre" && "active" + " nav__item"}> Sobre </a></li>
            <li><a href="/quero-ajudar" class={currentPath === "quero-ajudar" && "active" + " nav__item"}> Quero Ajudar </a></li>
            <li><a href="/servicos" class={currentPath === "servicos" && "active" + " nav__item"}> Serviços </a></li>
            <!-- <li><a href="#contato"> Contatos </a></li> -->
        </ul>
    </section>
</nav>

<style >
    .nav__item {
        @apply relative leading-10 before:absolute before:hidden before:-bottom-[6px] before:h-[3px] before:bg-brown-400 before:rounded-full before:w-full;
    }
    .active {
        @apply before:block ;
    }
</style>