---
import '@/styles/app.scss';
import Nav from '@/components/base/Nav.vue';
import Footer from '@/components/base/Footer.vue';

const { title, bodyClasses } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{ title }</title>
  </head>

  <body class={ bodyClasses }>

    <Nav client:load></Nav>

    <slot name="header"></slot>

    <main class="max-w-[1256px] mx-auto px-3 py-14">

      <slot></slot>

    </main>

    <Footer client:load></Footer>

  </body>
</html>