---
import { getSingleType } from '@/modules/prismic.js';
import fallback from '@/modules/fallback-content.js';

import NavigationItems from '@/components/nav/NavigationItems.vue';

//images
import logo from '@img/logo-pretux.svg';

const currentPath = new URL(Astro.request.url).pathname;

const data = await getSingleType('nav') || fallback.nav;

---

<nav class="relative bg-black-600 py-3 px-6 font-heading shadow-xl lg:p-6">
    <section class="flex justify-between items-center max-w-[1280px] mx-auto">
        <a href="/">
            <img src={logo} alt="" class=""/>
        </a>

        <NavigationItems client:load items={data.items} currentPage={currentPath}></NavigationItems>
    </section>
</nav>